.btn-primary {
    background-color: $sfondo-bottoni;
    border: $bordo-solido;
    color: $colore-bottoni;
}
.btn-secondary {
    background-color: $sfondo-bottoni;
    border: $bordo-solido;
    color: $colore-bottoni2
}